/extractedLines.jpg
/photo.jpg
/RESULT.png
/__pycache__
/result.jpg
/cropped.png
/cropped.jpg
/tests
/photos/cropped.jpg
/photos/endPicture.jpg
/photos/endPictureWithLines.jpg
/photos/extractedLines.jpg
/photos/foundSquares.jpg
/photos/photo.jpg
/photos/result.jpg
/photos/rotated.jpg
/photos/sequence.txt
/photos/tests
/essa.jpg